.socialIcons {
  display: flex;
  list-style: none;

  gap: 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: 53px;
}

.socialIcon {
  border: 2px solid #e2e3e4;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #80848a;
  font-size: 18px;
}

.socialIcon:hover {
  color: white;
  box-shadow: 0px 20px 40px 0px #1318214d;
}

.socialIcon:active {
  color: white;
  box-shadow: 0px 20px 40px 0px #1318214d;
}

.facebook:hover {
  background-color: #4267b2;
}
.facebook:active {
  background-color: #2f4a80;
}
.instagram:hover {
  background-color: #c13584;
}
.instagram:active {
  background-color: #8f2762;
}
.twitter:hover {
  background-color: #1da1f2;
}
.twitter:active {
  background-color: #177fbf;
}
.youtube:hover {
  background-color: #ff0000;
}
.youtube:active {
  background-color: #cc0000;
}

@media screen and (min-width: 1300px) {
  .socialIcons {
    margin-top: 48px;
    margin-left: 218px;
    gap: 20px;
  }
}
